{% extends "Oddam/__base__.html" %}
{% load static %}
{% block header %}
    <header class="header--main-page">
    <nav class="container container--70">
{% endblock %}

{% block content %}

    <section id="stats" class="stats">
      <div class="container container--85">
<h2>
            <br>Imie: {{ user.first_name }}
            <br>nazwisko: {{ user.last_name }}
            <br>email: {{ user.email }} <br> <br>
           {% for donation in donations %}
     <br>{{ forloop.counter }}. Podarowałeś organizacji: {{ donation.institution }}
               <br>Liczba worków: {{ donation.quantity }}
               <br>Kategorie darów:{% for cat in donation.categories.all %}
               <br>{{ cat.name }}

    {% endfor %}
    <br> Data odbioru: {{ donation.pick_up_date }}, g. {{ donation.pick_up_time }}
    <br>
    {% endfor %}
</h2>
      </div>
    </section>

{% endblock content %}
</nav>